In [5]:
import pandas as pd
import numpy as np 
from datetime import datetime

pd.set_option('display.max_columns', None)
import json
import re

Import data

In [8]:
dates = ['19','20','21','22']
df_fe = pd.DataFrame()
df_cashier = pd.DataFrame()
for date in dates:
    df_fe = pd.concat([df_fe, pd.read_csv('/Users/timtism/Documents/ZaloPay/Raw data and Analysis/Raw data from Jupyter/Cashier full/Nov{}ZPI_coinToPromotion.csv'.format(date))])
    df_cashier = pd.concat([df_cashier, pd.read_csv('/Users/timtism/Documents/ZaloPay/Raw data and Analysis/Raw data from Jupyter/Cashier_ZDS/Nov/Nov{}_CashierLog_ZPI.csv'.format(date))])

In [9]:
df_fe.head(2)

,clientIp,eventId,metadata,preUrlPath,previousEventId,timeStamp,trackingSessionId,urlPath,zaloId,zaloPayId,screenId
0,171.255.113.175,02.1104.006,"{""timeStamp"":1668790857804,""os"":""android"",""osV...",https://social.zalopay.vn/spa/v2/merchant?orde...,02.1103.006,1668790858421,94b4b5d6-c86c-47cd-afe2-23196f7ecb5a,https://social.zalopay.vn/spa/v2/merchant?orde...,3.505525e+18,200206000036379,1104
1,171.255.113.175,02.1104.060,"{""timeStamp"":1668790859287,""os"":""android"",""osV...",https://social.zalopay.vn/spa/v2/merchant?orde...,02.1104.006,1668790859933,94b4b5d6-c86c-47cd-afe2-23196f7ecb5a,https://social.zalopay.vn/spa/v2/merchant?orde...,3.505525e+18,200206000036379,1104

In [10]:
df_cashier.head(2)

,appName,app_id,description,event_id,funnel_steps,key_id,metadata,orderamount,orderamountwithfee,previousEventId,source_type,timeStamp,timeStamp2,trackingSessionId,user_id,ymd_etl,zp_trans_id,user_id2,orderSource,pmcID,transStatus,transID,bcCode,is_topup,total_fee,valid_bank_linking_count,total_promotion,selected_sof,metadata_sof,is_napas,is_fpu,is_npu,is_rpu,user_type,integrated_solution,sof,is_submitted,is_success,is_newcashier,k_before,k_after,os_zpa,domain,userAgent,os_zpi,os,po_trans_type
0,GO! Master OA,1675,1. Cashier Load,02.1103.000,1. Cashier Load,NaN,"{""timeStamp"":1668814617266,""os"":""ios"",""osVer"":...",350800,350800,02.1112.000,ZPI,1668814617404,1668814617266,000dddfb-cf3a-4528-8e00-e3d5a19819e8,200124000397583,2022-11-19 06:36:57.404,NaN,200124000397583,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,Bank,Wallet_38_status_100Agribank_970405_1278_39_st...,0,1,0,0,F,Ko xac dinh,Unknown,0,0,0,3,3,undefined,Merchants & others,Mozilla/5.0 (iPhone; CPU iPhone OS 16_0_3 like...,ios,ios,0
1,EVN MB,431,1. Cashier Load,02.1101.000,1. Cashier Load,NaN,"{""timeStamp"":1668823300708,""os"":""ios"",""osVer"":...",148666,148666,02.1112.000,ZPI,1668823300898,1668823300708,00242f30-ebac-444a-9e63-a4e1087bff23,200211000014394,2022-11-19 09:01:40.898,NaN,200211000014394,21.0,38.0,1.0,2.211190e+14,0.0,1.0,0,1,2,Bank,Wallet_38_status_100Tài Khoản Tích Lũy___44_st...,0,1,0,0,F,Ko xac dinh,Wallet Balance,1,1,0,3,3,undefined,Billing,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,ios,ios,0

In [11]:
# Copy 2 original files
df_fe_copy = df_fe.copy()
df_cashier_copy = df_cashier.copy()

In [12]:
df_cashier_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1741369 entries, 0 to 422326
Data columns (total 47 columns):
 #   Column                    Dtype
---  ------                    -----
 0   appName                   object
 1   app_id                    int64
 2   description               object
 3   event_id                  object
 4   funnel_steps              object
 5   key_id                    float64
 6   metadata                  object
 7   orderamount               int64
 8   orderamountwithfee        int64
 9   previousEventId           object
 10  source_type               object
 11  timeStamp                 int64
 12  timeStamp2                int64
 13  trackingSessionId         object
 14  user_id                   int64
 15  ymd_etl                   object
 16  zp_trans_id               float64
 17  user_id2                  object
 18  orderSource               float64
 19  pmcID                     float64
 20  transStatus               float64
 21  transID                   float64
 22  bcCode                    float64
 23  is_topup                  float64
 24  total_fee                 int64
 25  valid_bank_linking_count  int64
 26  total_promotion           int64
 27  selected_sof              object
 28  metadata_sof              object
 29  is_napas                  int64
 30  is_fpu                    int64
 31  is_npu                    int64
 32  is_rpu                    int64
 33  user_type                 object
 34  integrated_solution       object
 35  sof                       object
 36  is_submitted              int64
 37  is_success                int64
 38  is_newcashier             int64
 39  k_before                  int64
 40  k_after                   int64
 41  os_zpa                    object
 42  domain                    object
 43  userAgent                 object
 44  os_zpi                    object
 45  os                        object
 46  po_trans_type             int64
dtypes: float64(8), int64(19), object(20)
memory usage: 637.7+ MB

In [13]:
df_fe_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 987712 entries, 0 to 239415
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   clientIp           987712 non-null  object
 1   eventId            987712 non-null  object
 2   metadata           987712 non-null  object
 3   preUrlPath         922357 non-null  object
 4   previousEventId    922357 non-null  object
 5   timeStamp          987712 non-null  int64
 6   trackingSessionId  987712 non-null  object
 7   urlPath            987712 non-null  object
 8   zaloId             987551 non-null  float64
 9   zaloPayId          987712 non-null  int64
 10  screenId           987712 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 90.4+ MB

Compare performance of 2 segments (AB test)

In [15]:
# Filter relevant records in `df_cashier`
df_cashier_copy = df_cashier_copy[
    (df_cashier_copy['source_type'] == 'ZPI')
    &
    (~df_cashier_copy['domain'].isin(['Funding Channel','Withdraw','Transfer','IBFT','TKTL']))]

In [16]:
res = pd.DataFrame(
    columns = [
        'name',
        'old UI',
        'new UI',
    ]
)

res['name'] = ['load_count','submit_count','success_count','submission_rate','interaction_rate','e2e_success_rate']

for index, column in enumerate(['old UI','new UI']):
    if index == 0:
        df = df_cashier_copy[df_cashier_copy['user_id'].apply(lambda x: int(x)%100 in range(80,100))]
    else:
        df = df_cashier_copy[df_cashier_copy['user_id'].apply(lambda x: int(x)%100 in range(30,50))]
    
    load_count = len(df)
    submit_count = len(df[df['is_submitted']==1])
    success_count = len(df[df['is_success']==1])
    submission_rate = submit_count/load_count
    interaction_rate = success_count/submit_count
    e2e_success_rate = submission_rate*interaction_rate

    res[column] = [
        load_count,
        submit_count,
        success_count,
        submission_rate,
        interaction_rate,
        e2e_success_rate
    ]

In [17]:
res

               name         old UI         new UI
0        load_count  194437.000000  198675.000000
1      submit_count  129472.000000  132780.000000
2     success_count  120520.000000  123810.000000
3   submission_rate       0.665881       0.668328
4  interaction_rate       0.930858       0.932445
5  e2e_success_rate       0.619841       0.623179