In [27]:
!pip install tweepy
import pandas as pd, numpy as np
import tweepy
import os
import json
import requests

Collecting tweepy
  Downloading tweepy-4.14.0-py3-none-any.whl (98 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.5/98.5 kB 1.1 MB/s eta 0:00:00a 0:00:01
Collecting oauthlib<4,>=3.2.0 (from tweepy)
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 151.7/151.7 kB 2.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: requests<3,>=2.27.0 in /Users/lap13729/anaconda3/lib/python3.11/site-packages (from tweepy) (2.31.0)
Collecting requests-oauthlib<2,>=1.2.0 (from tweepy)
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/lap13729/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27.0->tweepy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/lap13729/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27.0->tweepy) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/lap13729/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27.0->tweepy) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/lap13729/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27.0->tweepy) (2023.7.22)
Installing collected packages: oauthlib, requests-oauthlib, tweepy
Successfully installed oauthlib-3.2.2 requests-oauthlib-1.3.1 tweepy-4.14.0

In [37]:
prediction = pd.read_csv('/Users/lap13729/Documents/Data Analytics/Portfolio/Python/Projects/Twitter WeRateDogs Data Set/datasets/image-predictions.tsv', sep = '\t')
tweet = pd.read_json('/Users/lap13729/Documents/Data Analytics/Portfolio/Python/Projects/Twitter WeRateDogs Data Set/datasets/tweet-json.txt',lines= True)
archive_enhanced = pd.read_csv('/Users/lap13729/Documents/Data Analytics/Portfolio/Python/Projects/Twitter WeRateDogs Data Set/datasets/twitter-archive-enhanced.csv')

In [111]:
prediction_copy = prediction.copy()
tweet_copy = tweet[['id','retweet_count','favorite_count']]
archive_enhanced_copy = archive_enhanced.copy()

In [112]:
prediction_copy.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [113]:
archive_enhanced_copy.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [114]:
tweet_copy.head()

                   id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

(1)Quality Issues ( Content Issues)
pd_achive_copy:

1. remove extra contents for urls in source column ( eg: <a href= )
2. chop extra contents for timestamp column (+0000)
3. Under name column, multiple expressions for missing names : a/an/the/none for
4. Erroneous datatypes :
- tweet_id,in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id
all should be string not float ;
- 'img_num', 'retweet_count', 'favorite_count' should be integer not float
when there are two fractions in the text, the rating goes with the first one, which is not always correct.
( 835000000000000000 , 666000000000000000 , 835000000000000000 ) 
6. some rating are not relevant.(832000000000000000 , 811000000000000000 : : date versus rating , missing rating ) 
7. some of the tweets are not original tweets. 
8. "doggo,floofer, pupper,puppo" in pd_achive_copy table are values under one column "stage"

pd_prediction_copy: 
9. The values under columns p_1 , p_2, p_3 should not have "_" in the breads ( Irish_terrier) 
10. "tweet_id" is named "id" in pd_json_copy table ( This one I did before fixing tidiness issues

In [115]:
archive_column = archive_enhanced_copy.columns

for i in archive_column:
    print(f'{i}: {archive_enhanced_copy[i].nunique()}')

tweet_id: 2356
in_reply_to_status_id: 77
in_reply_to_user_id: 31
timestamp: 2356
source: 4
text: 2356
retweeted_status_id: 181
retweeted_status_user_id: 25
retweeted_status_timestamp: 181
expanded_urls: 2218
rating_numerator: 40
rating_denominator: 18
name: 957
doggo: 2
floofer: 2
pupper: 2
puppo: 2

In [116]:
tweet_copy.columns

Index(['id', 'retweet_count', 'favorite_count'], dtype='object')

# Tidiness Issues

In [117]:
tweet_copy.rename(columns = {'id':'tweet_id'}, inplace=True)

/var/folders/8d/r0gz9f1j0091d9vzhw0mq64h0000gn/T/ipykernel_48545/2136604589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweet_copy.rename(columns = {'id':'tweet_id'}, inplace=True)

In [118]:
column_list = list(archive_enhanced_copy.columns) + list(prediction_copy.columns) + list(tweet_copy.columns)
pd.Series(column_list).value_counts()

tweet_id                      3
in_reply_to_status_id         1
retweet_count                 1
p3_dog                        1
p3_conf                       1
p3                            1
p2_dog                        1
p2_conf                       1
p2                            1
p1_dog                        1
p1_conf                       1
p1                            1
img_num                       1
jpg_url                       1
puppo                         1
pupper                        1
floofer                       1
doggo                         1
name                          1
rating_denominator            1
rating_numerator              1
expanded_urls                 1
retweeted_status_timestamp    1
retweeted_status_user_id      1
retweeted_status_id           1
text                          1
source                        1
timestamp                     1
in_reply_to_user_id           1
favorite_count                1
dtype: int64

In [248]:
all_copy = archive_enhanced_copy.merge(prediction_copy, on='tweet_id', how='left').merge(tweet_copy, on='tweet_id',how='left')
all_copy.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False,8853.0,39467.0
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1.0,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,6514.0,33819.0
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1.0,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,4328.0,25461.0
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1.0,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,8964.0,42908.0
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2.0,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,9774.0,41048.0

In [249]:
all_copy['rating'] = all_copy['rating_numerator'].astype(str) + '/' + all_copy['rating_denominator'].astype(str)

In [250]:
all_copy['stage'] = all_copy[['doggo','floofer','pupper','puppo']].apply(lambda x: ''.join(x), axis = 1)

In [251]:
all_copy.stage.unique()

array(['NoneNoneNoneNone', 'doggoNoneNoneNone', 'NoneNoneNonepuppo',
       'NoneNonepupperNone', 'NoneflooferNoneNone', 'doggoNoneNonepuppo',
       'doggoflooferNoneNone', 'doggoNonepupperNone'], dtype=object)

In [252]:
replace_pattern = {
    'NoneNoneNoneNone':'None',
    'doggoNoneNoneNone':'doggo',
    'NoneNoneNonepuppo':'puppo',
    'NoneNonepupperNone':'pupper',
    'NoneflooferNoneNone': 'floofer',
    'doggoNoneNonepuppo': 'multiple',
    'doggoflooferNoneNone': 'multiple',
    'doggoNonepupperNone': 'multiple'
}

all_copy['stage'].replace(replace_pattern, inplace=True)

In [253]:
all_copy['stage'].value_counts()

None        1976
pupper       245
doggo         83
puppo         29
multiple      14
floofer        9
Name: stage, dtype: int64

In [254]:
all_copy.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,rating,stage
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.07611,False,8853.0,39467.0,13/10,None

In [255]:
all_copy['timestamp'][0]

'2017-08-01 16:23:56 +0000'

In [256]:
all_copy[['date','time','drop']] = all_copy['timestamp'].str.split(pat=' ',n=2,expand = True)
all_copy.drop('drop', axis = 1, inplace=True)

In [257]:
all_copy.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,rating,stage,date,time
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.07611,False,8853.0,39467.0,13/10,None,2017-08-01,16:23:56

In [258]:
all_copy.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [259]:
all_copy['source'] = all_copy['source'].str.split('"', expand=True)[1]

In [260]:
all_copy.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,rating,stage,date,time
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,http://twitter.com/download/iphone,This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False,8853.0,39467.0,13/10,None,2017-08-01,16:23:56
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,http://twitter.com/download/iphone,This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1.0,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,6514.0,33819.0,13/10,None,2017-08-01,00:17:27
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,http://twitter.com/download/iphone,This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1.0,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,4328.0,25461.0,12/10,None,2017-07-31,00:18:03
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,http://twitter.com/download/iphone,This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1.0,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,8964.0,42908.0,13/10,None,2017-07-30,15:58:51
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,http://twitter.com/download/iphone,This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2.0,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,9774.0,41048.0,12/10,None,2017-07-29,16:00:24

In [261]:
for name in all_copy['name']:
    print(name)

# print(all_copy['name'].value_counts())

Phineas
Tilly
Archie
Darla
Franklin
None
Jax
None
Zoey
Cassie
Koda
Bruno
None
Ted
Stuart
Oliver
Jim
Zeke
Ralphus
Canela
Gerald
Jeffrey
such
Canela
None
None
Maya
Mingus
Derek
Roscoe
None
Waffles
None
Jimbo
Maisey
None
Lilly
None
Earl
Lola
Kevin
None
None
Yogi
Noah
Bella
Grizzwald
None
Rusty
Gus
Stanley
Alfy
Koko
Rey
Gary
None
a
Elliot
Louis
None
Bella
Jesse
None
Romeo
None
Bailey
Duddles
Jack
Emmy
Steven
Beau
Snoopy
None
Shadow
Terrance
Shadow
Emmy
Aja
None
Penny
Dante
Nelly
Ginger
None
Benedict
Venti
Goose
Nugget
None
None
Cash
Coco
Jed
None
Sebastian
Walter
None
Sierra
Sierra
None
None
None
Monkey
None
Harry
Kody
Lassie
Rover
Napolean
Dawn
None
Boomer
None
None
Cody
Zoey
Rumble
Clifford
quite
Dewey
Stanley
Scout
Gizmo
Walter
Cooper
None
Cooper
None
Harold
Shikha
None
None
Jamesy
None
Lili
Jamesy
Coco
None
Boomer
Sammy
Nelly
None
Meatball
Paisley
Albus
Neptune
Quinn
Belle
None
None
Quinn
Zooey
Dave
Jersey
None
None
Hobbes
None
Burt
Lorenzo
None
Lorenzo
Carl
Jordy
None
None
Milky
Trooper
None
quite
None
Winston
None
Sophie
Wyatt
Rosie
Thor
None
Oscar
None
None
Zeke
Luna
Callie
None
None
None
Cermet
None
None
None
None
None
quite
George
None
Marlee
Arya
Einstein
None
None
Alice
None
Rumpole
None
Benny
Aspen
Jarod
Wiggles
General
Sailor
Astrid
None
None
Iggy
Snoop
Kyle
Leo
None
Riley
Boomer
None
Gidget
Noosh
None
Kevin
None
Odin
None
Jerry
Charlie
None
Georgie
Rontu
None
Cannon
Furzey
Daisy
None
Tuck
Barney
None
Vixen
None
Jarvis
None
None
None
Mimosa
Pickles
Bungalo
None
Brady
Luna
Charlie
Margo
None
Sadie
Hank
Tycho
Stephan
Charlie
Indie
Winnie
George
Bentley
Ken
Penny
None
None
Max
Dawn
Maddie
Pipsy
None
None
Maddie
None
Monty
Sojourner
Winston
None
Odie
None
Arlo
None
Riley
Walter
Stanley
Sunny
None
None
Daisy
None
Waffles
Vincent
Lucy
Clark
None
Mookie
Meera
Oliver
None
Buddy
Ava
Lucy
None
Rory
Eli
Lola
None
Ash
Lola
None
None
None
Tucker
Tobi
None
Leo
Chester
Wilson
Sunshine
None
Lipton
Bentley
Charlie
Gabby
Bronte
Poppy
Gidget
Rhino
None
Willow
None
not
Orion
Eevee
Charlie
Smiley
Logan
Moreton
None
Klein
Miguel
Emanuel
None
Kuyu
Daisy
None
Dutch
Pete
None
Scooter
Tucker
Reggie
Lilly
Kyro
Samson
Loki
Mia
Leo
None
Astrid
Malcolm
Dexter
Gus
Alfie
Fiona
one
Mutt
Bear
Doobert
Beebop
Alexander
None
Sailer
Brutus
Kona
Boots
Tucker
Ralphie
Phil
Charlie
Loki
Cupid
None
None
Pawnd
Pilot
None
None
Ike
Mo
Toby
None
Sweet
Pablo
Pablo
Bailey
Scooter
Wilson
None
Nala
None
Cash
Balto
Winston
Crawford
None
Wyatt
None
Albus
None
Hobbes
Paisley
None
Paisley
Gabe
None
Mattie
Jimison
Hercules
Duchess
Harlso
Sampson
Sundance
None
Luca
None
Flash
Finn
Sunny
None
None
Peaches
None
None
Oliver
Oliver
None
Howie
Jazzy
Anna
None
Finn
Bo
Sunny
Sunny
Bo
Seamus
Wafer
Bear
Chelsea
Tom
Moose
Florence
Autumn
None
Buddy
Dido
Eugene
Herschel
Ken
Strudel
None
Tebow
None
Chloe
Betty
Timber
Binky
Moose
Dudley
Comet
Jack
Larry
Jack
None
Levi
Akumi
Titan
None
Cooper
Olivia
Beau
Alf
Oshie
Bruce
Chubbs
Gary
Sky
Atlas
None
None
Eleanor
Layla
None
None
None
Toby
Rocky
Baron
Tyr
Bauer
Swagger
Sammy
Brandi
None
Mary
Moe
Ted
Halo
None
Augie
Craig
Sam
Hunter
Pavlov
Phil
Gus
None
Maximus
None
Kyro
Wallace
Ito
None
Koda
Seamus
Milo
None
Cooper
Ollie
Stephan
Cali
Lennon
None
None
None
Waffles
Dave
incredibly
Penny
Major
Duke
Reginald
Zeke
Sansa
Shooter
Django
None
Rusty
Bo
Diogi
None
None
Sonny
Philbert
Winston
Marley
None
Bailey
Winnie
Severus
None
None
Loki
None
Ronnie
None
Wallace
None
Milo
Anakin
Bones
None
None
Mauve
Chef
None
Sampson
Doc
Bo
Peaches
None
Tucker
Sobe
Longfellow
None
Jeffrey
Mister
Iroh
Shadow
Baloo
None
Stubert
None
Jack
None
None
Lola
Paull
None
Timison
None
Davey
Cooper
None
Cassie
Pancake
None
Tyrone
Tyr
Romeo
None
None
Snicku
Ruby
Ruby
None
None
Yogi
Daisy
None
Brody
Bailey
Rizzy
Mack
Butter
Nimbus
Laika
Maximus
Clark
None
Dobby
Fiona
Moreton
Dave
None
Tucker
Juno
Maude
Lily
Newt
Benji
Nida
None
Robin
a
Bailey
Monster
BeBe
Remus
None
None
Maddie
None
None
Levi
Mabel
Alfie
Misty
Betty
Happy
Mosby
Duke
Maggie
Bruce
Leela
Happy
Buddy
Ralphy
Eli
Brownie
Rizzy
None
Meyer
Stella
Bo
Lucy
Butter
mad
Dexter
None
Leo
Bo
None
Frank
Tonks
Moose
Lincoln
Carl
Rory
Oakley
Logan
None
Dale
Rizzo
Arnie
Mattie
None
Scout
Lucy
Rusty
Pinot
Dallas
None
Doc
Hero
Rusty
Frankie
Stormy
Reginald
Balto
Riley
Mairi
Loomis
Finn
Godi
Kenny
Dave
Earl
Cali
Deacon
Penny
Timmy
Sampson
Harper
Chipson
None
Combo
None
None
Oakley
None
None
Dash
Koda
Hercules
None
Bell
None
Bear
None
Hank
None
Scout
None
Hurley
Reggie
None
Jay
None
None
Mya
Strider
Penny
None
an
Nala
Stanley
None
Sophie
Gerald
Wesley
None
Arnie
Derek
Jeffrey
None
Solomon
Huck
very
None
O
Sampson
None
None
Blue
Anakin
None
Finley
Maximus
None
Tucker
Finley
Sprinkles
None
Winnie
Heinrich
Loki
Shakespeare
Chelsea
Fizz
Bungalo
Chip
Grey
None
Roosevelt
Gromit
a
Willem
None
Jack
Finn
Penny
None
Davey
Dakota
Fizz
Frankie
Dixie
Charlie
None
None
Winston
Sebastian
None
very
Al
Jackson
just
Carbon
Klein
Titan
None
DonDon
Kirby
None
Jesse
Lou
Oakley
Nollie
Chevy
Gerald
Tito
Philbert
Louie
None
Rupert
None
Rufus
None
Brudge
Shadoe
Oscar
Colby
Juno
Angel
Brat
Tove
my
Louie
Gromit
Aubie
Kota
None
Alfie
Clark
Eve
Belle
Leela
Glenn
Buddy
Scout
None
Shelby
None
None
None
Sephie
None
Bruce
Bonaparte
Albert
Bo
Wishes
Rose
Theo
Atlas
None
Rocco
Fido
Sadie
None
None
None
Kirby
Maggie
None
Emma
Oakley
None
Luna
None
Toby
Spencer
Lilli
None
Boston
Brandonald
None
Odie
Corey
None
None
Leonard
Chompsky
Beckham
Cooper
None
None
None
None
Devón
Oliver
Jax
Gert
None
None
None
None
None
one
Watson
Rubio
Winnie
Keith
Milo
Dex
None
Charlie
None
None
Scout
Hank
Carly
Ace
None
Tayzie
Carl
Grizzie
None
None
None
None
None
None
None
Brody
Lola
Ruby
Tucker
Fred
Toby
None
Max
None
Gilbert
None
Cooper
Milo
Meyer
Malcolm
Arnie
Zoe
None
None
Stewie
Calvin
Lilah
Spanky
None
Jameson
Beau
Jax
Piper
Bo
Atticus
Lucy
Finn
None
George
Blu
Boomer
Winston
Dietrich
not
Divine
None
Tripp
his
one
Cora
None
None
Duke
None
None
None
None
a
Huxley
a
None
Keurig
Bookstore
None
None
None
Linus
None
Atticus
Clark
None
None
a
None
None
Maddie
Abby
None
Shaggy
Shiloh
an
Gustav
Arlen
Gus
Percy
Lenox
very
Sugar
Jeffrey
Oliver
Abby
Indie
Harvey
Blanket
None
actually
Geno
None
None
Stark
Harold
Bentley
Beya
Kilo
a
Kayla
None
Maxaroni
None
Bell
Phil
Doug
Edmund
None
Aqua
Tucker
Theodore
Ted
just
Leo
None
Chip
Baloo
None
None
Chase
getting
Nollie
Rorie
Simba
None
Benji
None
Kyle
None
None
Charles
None
Bayley
None
None
Axel
Storkson
Remy
Bella
None
None
Lily
None
Chadrick
mad
Rory
very
None
Maxaroni
None
Dakota
None
Kellogg
Buckley
Jax
None
Livvie
None
Terry
Moose
None
Hermione
None
Ralpher
Aldrick
None
Kyle
Larry
Solomon
this
unacceptable
Rooney
Crystal
Ziva
Charles
Ollie
None
Stefan
Pupcasso
None
Puff
None
Flurpson
Coleman
Wallace
Enchilada
Raymond
all
Rueben
Cilantro
None
None
None
None
Karll
None
Sprout
Blitz
Bloop
None
Colby
Lillie
Lola
None
Fred
None
Ashleigh
Kreggory
Sarge
Luther
Sugar
Reginald
Ivar
Jangle
None
Schnitzel
Panda
Oliver
Archie
Berkeley
None
Ralphé
Derek
Charleson
Neptune
None
Clyde
Harnold
Sid
Lucy
Pippa
Sadie
Otis
None
Carper
None
Bowie
None
Alexanderson
Suki
Barclay
None
a
Skittle
Ebby
Flávio
Smokey
Link
Jennifur
None
Ozzy
Bluebert
Stephanus
None
Bubbles
old
a
Bentley
Toby
Zeus
Bertson
Oscar
Nico
Michelangelope
Siba
Calbert
None
Curtis
Benedict
None
Blitz
Travis
Thumas
None
None
Kanu
Doug
None
Piper
None
Lance
Opie
Stubert
None
Sunny
Kane
None
None
Steven
Olive
Chester
None
Winston
Roosevelt
None
None
Gary
None
None
Chuckles
Milo
Staniel
Sora
None
None
Beemo
Oshie
Gunner
infuriating
None
Lacy
Tater
None
Watson
None
None
Olaf
Cecil
Vince
Karma
Billy
Walker
Penny
None
Sammy
Rodney
Klevin
Lucy
None
Malikai
Mister
Coco
Smokey
Bear
Bobble
None
Oliver
River
Jebberson
None
Cooper
Remington
None
Farfle
None
Rufus
Sadie
None
None
Jiminus
None
Harper
Keurig
None
Clarkus
None
Finnegus
Cassie
Cupcake
Kathmandu
Tucker
Ellie
None
Elliot
Katie
Shadow
None
Oliver
None
Koda
None
None
Kara
None
Dexter
Layla
Adele
Lucy
Max
None
None
Zara
Cooper
Ambrose
Jimothy
Bode
Terrenth
Reese
None
a
None
Chesterson
None
None
None
Lucia
Bisquick
Ralphson
None
Stanley
a
None
None
Bella
Scooter
None
None
Charlie
Socks
None
a
an
Chip
Luna
Lucy
Rambo
Sansa
a
Rudy
None
None
None
Fiji
Rilo
Bilbo
None
Coopson
Yoda
Millie
None
Chet
a
Crouton
Daniel
very
Vincent
Kaia
Murphy
Dotsy
None
None
Eazy
Coops
Thumas
Cooper
Nala
None
Fillup
Dave
Archie
None
None
Miley
Calbert
None
Charl
Reagan
None
Yukon
None
Oliver
CeCe
None
Cuddles
Rusty
None
Claude
Jessiga
Maximus
Franklin
Beau
Lily
None
Doug
Cassie
Carter
None
None
None
Ole
Pherb
Blipson
None
Bentley
getting
Charlie
Oakley
Rosie
None
None
Misty
Reptar
Klevin
Trevith
None
None
None
Berb
None
None
Wyatt
None
Calvin
None
Bob
Colin
just
Lorenzo
None
Brian
None
Archie
Phil
None
Oliviér
None
Grady
None
Lola
Chester
None
Kobe
None
None
Freddery
None
None
Phil
None
Lincoln
Sadie
Oscar
None
Bodie
Dunkin
None
Milo
None
Wally
None
Tupawc
None
None
Chester
Amber
Cody
None
Herschel
a
Edgar
None
Teddy
Kingsley
Brockly
None
None
Richie
None
Leo
Bailey
None
Molly
None
None
None
None
None
Buddy
Peaches
Vinscent
Cedrick
Hazel
None
Lolo
Eriq
Phred
the
Oddie
Maxwell
Geoff
None
None
Covach
None
None
Gizmo
Durg
Fynn
Luca
Ricky
Lucy
None
None
Carl
None
Chipson
Herald
Lucky
Ferg
None
Trip
None
Clarence
None
Hamrick
Brad
None
Pubert
Frönq
None
Louis
Derby
Lizzie
None
Kilo
None
Louis
None
Trooper
Ember
Blakely
Opal
Marq
None
Curtis
Kramer
Barry
Tyrone
None
Gordon
Samson
Baxter
None
None
Jackson
None
None
None
Mona
Olivia
Horace
None
Crimson
Birf
None
None
Flávio
None
None
None
Hammond
Lorelei
the
Olive
None
Marty
Brooks
Otis
None
None
None
Rocky
None
Petrick
Hubertson
Alfie
Gerbald
None
Jerry
Oreo
Bruiser
None
Perry
None
None
Theodore
None
None
Bobby
None
Pippa
Jeph
Obi
None
None
None
Tino
None
Kulet
Sweets
None
Lupe
Sadie
Tiger
Jiminy
None
None
Buddy
Sebastian
None
Griffin
Banjo
None
None
Jack
None
Brandy
Larry
None
None
Lulu
Darrel
None
None
Taco
None
Joey
None
None
Patrick
Kreg
Brody
Todo
Jax
Samson
None
Tess
None
Ulysses
None
Jimothy
Charlie
Bo
None
Toffee
None
Apollo
Carly
None
Asher
Glacier
Chuck
actually
Sarge
Panda
Champ
None
Aspen
None
Ozzie
Alice
Sadie
Griswold
Cheesy
Ellie
None
None
Moofasa
Brody
Penny
Percy
None
Hector
None
CeCe
Toby
None
None
Goliath
Kawhi
Reggie
Ozzy
None
by
Emmie
Sammy
Penelope
Rocco
None
Bruce
Willie
None
Rinna
None
Hunter
Mike
a
None
William
Dwight
Evy
Hurley
None
Rubio
None
Louis
officially
Chompsky
None
Rascal
None
Lola
None
Linda
Tug
Mia
Wilson
Dash
Tango
None
None
Grizz
None
Crystal
Jerome
None
None
Bella
Crumpet
None
Rosie
None
Jessifer
None
Reese
Izzy
None
None
None
Ralph
Sadie
None
None
None
a
Sandy
None
None
None
Axel
None
None
Humphrey
Derek
Tassy
Juckson
the
Chuq
None
Cooper
None
Tyrus
Karl
None
None
None
None
None
Ash
None
None
Penny
None
None
the
None
Godzilla
None
None
Bubbles
Vinnie
None
None
Griffin
None
None
Duke
None
Winston
Kenneth
Herm
None
Bert
None
Striker
None
None
None
Donny
None
None
None
None
None
Pepper
None
None
Bernie
Buddah
None
Lenny
None
a
a
Ellie
Sammy
None
None
Reggie
None
None
None
None
Daisy
None
None
None
Arnold
None
None
None
Coops
None
Steven
Zuzu
Oliver
a
a
Moe
Mollie
Laela
None
None
Tedders
None
None
Maggie
None
Superpup
None
None
None
None
Sophie
None
None
Rufio
Patrick
Jeb
Rodman
None
None
None
None
None
Louis
None
Bailey
Ava
Jonah
Lenny
Gary
Chesney
None
Lennon
life
Kenny
None
Bob
Henry
Gus
Bobbay
a
Mitch
Earl
Stanley
Lucy
None
None
Kaiya
Daisy
None
Acro
Aiden
None
one
Obie
None
None
None
a
None
None
Riley
Raymond
Dot
None
Pickles
None
Larry
George
Shnuggles
Kendall
Albert
a
Jeffri
Sandy
None
None
None
Steve
Koda
None
Bella
Gerald
None
Django
Frankie
None
Eve
Mac
None
Dexter
Fletcher
Kenzie
Pumpkin
Schnozz
None
None
Chuckles
Chet
Gustaf
Terry
Jimison
Cheryl
None
Oscar
Ed
Jerry
Leonidas
None
Norman
Caryl
a
Scott
Taz
None
Darby
None
Jackie
light
Jazz
Buddy
Franq
Pippin
None
Kreg
None
Rolf
None
Snickers
Ridley
None
Cal
Opal
Bradley
Bubba
None
just
Tuco
Patch
Gizmo
Lola
Mojo
Batdog
Brad
Mia
Dylan
None
space
None
Mark
None
a
Oscar
None
the
None
Marley
None
JD
Baxter
Reginald
None
Jax
Alejandro
Scruffers
Hammond
Charlie
Pip
Julius
Malcolm
Penelope
None
Tanner
None
Lou
Lola
Sparky
None
Herm
None
Anthony
Holly
None
a
None
None
Clarence
None
Phred
Toby
None
None
Colby
None
Jett
Amy
None
Remington
None
Sage
Maggie
Andy
Mason
None
Trigger
Antony
None
Creg
None
None
Traviss
None
Vincent
Gin
Jerry
Jeffrie
None
Danny
Ester
Pluto
Bloo
Phineas
None
Edd
None
None
None
Paull
Koda
None
Hank
Sam
Willy
a
Herb
Damon
None
Scooter
Peanut
Nigel
Larry
Daisy
a
Butters
None
a
Sandra
Wally
None
Fabio
Winston
Randall
Liam
Tommy
Ben
None
None
Raphael
Zoey
None
Julio
Andru
None
a
Chester
Clarence
None
Kloey
Louie
Shawwn
a
Penny
None
Skye
None
Linda
Keith
Kollin
a
Ronduh
Billl
Oliviér
Chip
None
Saydee
Dug
Tessa
Sully
Kirk
None
Ralf
Clarq
Jaspers
Samsom
None
None
Tucker
Terrance
None
Harrison
Bernie
None
Ruby
None
Chaz
Jeremy
None
Jaycob
a
Herald
Lambeau
Ruffles
Amélie
Bobb
Banditt
a
Kevon
Winifred
None
None
Hanz
an
Churlie
Zeek
Timofy
Maks
Jomathan
Kallie
a
the
Marvin
None
None
Spark
Gòrdón
a
Jo
None
DayZ
a
None
None
Rusty
Sophie
None
Jareld
Bisquick
Torque
None
None
Ron
Skittles
a
None
None
Alfie
None
Jiminy
Otis
None
Cleopatricia
Erik
Stu
Tedrick
None
Shaggy
a
None
Filup
None
None
None
a
Calvin
Olive
None
None
None
None
George
Kial
a
Frank
Naphaniel
None
Dook
None
Hall
Philippe
None
a
Reese
Cupcake
None
None
None
Biden
Fwed
None
Genevieve
Joshwa
None
None
Timison
a
None
Clarence
Kenneth
Churlie
Bradlay
Pipsy
None
Gabe
Clybe
Dave
None
None
Keet
None
Klevin
Carll
a
None
None
None
Jeph
Jockson
None
a
Josep
Lugan
a
Christoper
None
Jimothy
Kreggory
Scout
None
None
None
None
None
Walter
quite
a
None
None
None
None
None
an
a
an
None
None
None
None
None
None
None
None
None
the
the
a
a
an
a
None
a
a
a
None

In [262]:
!pip install nltk
from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')

# Get the list of English stopwords
stop_words = set(stopwords.words('english'))

Requirement already satisfied: nltk in /Users/lap13729/anaconda3/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: click in /Users/lap13729/anaconda3/lib/python3.11/site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in /Users/lap13729/anaconda3/lib/python3.11/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/lap13729/anaconda3/lib/python3.11/site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in /Users/lap13729/anaconda3/lib/python3.11/site-packages (from nltk) (4.65.0)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/lap13729/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [263]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [264]:
all_copy['name'] = all_copy['name'].apply(lambda x: x if x not in stop_words else np.nan)

In [265]:
all_copy.name.value_counts()

None          745
Charlie        12
Oliver         11
Cooper         11
Lucy           11
             ...
Gert            1
Dex             1
Ace             1
Tayzie          1
Christoper      1
Name: name, Length: 945, dtype: int64

In [267]:
all_copy.replace('None', np.nan, inplace=True)
all_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        1524 non-null   object
 13  doggo                       97 non-null     object
 14  floofer                     10 non-null     object
 15  pupper                      257 non-null    object
 16  puppo                       30 non-null     object
 17  jpg_url                     2075 non-null   object
 18  img_num                     2075 non-null   float64
 19  p1                          2075 non-null   object
 20  p1_conf                     2075 non-null   float64
 21  p1_dog                      2075 non-null   object
 22  p2                          2075 non-null   object
 23  p2_conf                     2075 non-null   float64
 24  p2_dog                      2075 non-null   object
 25  p3                          2075 non-null   object
 26  p3_conf                     2075 non-null   float64
 27  p3_dog                      2075 non-null   object
 28  retweet_count               2354 non-null   float64
 29  favorite_count              2354 non-null   float64
 30  rating                      2356 non-null   object
 31  stage                       380 non-null    object
 32  date                        2356 non-null   object
 33  time                        2356 non-null   object
dtypes: float64(10), int64(3), object(21)
memory usage: 708.8+ KB

In [269]:
all_copy[all_copy['rating_denominator'] !=10]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,rating,stage,date,time
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,http://twitter.com/download/iphone,@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,2259.0,960/0,NaN,2017-02-24,21:54:03
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,http://twitter.com/download/iphone,@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,72.0,11/15,NaN,2017-02-16,04:45:50
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,http://twitter.com/download/iphone,The floofs have been released I repeat the flo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/820690176...,84,70,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/C2OtWr0VQAEnS9r.jpg,2.0,West_Highland_white_terrier,0.872064,True,kuvasz,0.059526,True,Samoyed,0.037400,True,3716.0,13518.0,84/70,NaN,2017-01-15,17:52:40
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,http://twitter.com/download/iphone,Meet Sam. She smiles 24/7 &amp; secretly aspir...,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/C0EyPZbXAAAceSc.jpg,1.0,golden_retriever,0.871342,True,Tibetan_mastiff,0.036708,True,Labrador_retriever,0.025823,True,1655.0,5927.0,24/7,NaN,2016-12-19,23:06:23
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,http://twitter.com/download/iphone,"RT @dog_rates: After so many requests, this is...",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,https://twitter.com/dog_rates/status/740373189...,9,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9220.0,0.0,9/11,NaN,2016-09-11,22:20:06
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57 +0000,http://twitter.com/download/iphone,Why does this never happen at my front door......,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244...,165,150,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/ext_tw_video_thumb/75846...,1.0,Labrador_retriever,0.436377,True,Chihuahua,0.113956,True,American_Staffordshire_terrier,0.099689,True,2539.0,5316.0,165/150,NaN,2016-07-28,01:00:57
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,http://twitter.com/download/iphone,"After so many requests, this is Bretagne. She ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/740373189...,9,11,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CkZVdJ6WYAAXZ5A.jpg,3.0,golden_retriever,0.807644,True,kuvasz,0.101286,True,Labrador_retriever,0.023785,True,9220.0,20648.0,9/11,NaN,2016-06-08,02:41:38
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,http://twitter.com/download/iphone,Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CiWWhVNUYAAab_r.jpg,1.0,lakeside,0.501767,False,breakwater,0.051351,False,king_penguin,0.049444,False,1434.0,4196.0,204/170,NaN,2016-05-13,16:15:54
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,http://twitter.com/download/iphone,Happy 4/20 from the squad! 13/10 for all https...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582...,4,20,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CgiFjIpWgAA4wVp.jpg,1.0,Great_Dane,0.246762,True,Greater_Swiss_Mountain_dog,0.126131,True,Weimaraner,0.085297,True,1764.0,4493.0,4/20,NaN,2016-04-21,02:25:47
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,http://twitter.com/download/iphone,This is Bluebert. He just saw that both #Final...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CfFNk7cWAAA-hND.jpg,1.0,Siberian_husky,0.396495,True,malamute,0.317053,True,Eskimo_dog,0.273419,True,247.0,2574.0,50/50,NaN,2016-04-03,01:36:11
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,http://twitter.com/download/iphone,Happy Saturday here's 9 puppers on a bench. 99...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603...,99,90,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CehIzzZWQAEyHH5.jpg,1.0,golden_retriever,0.371816,True,cocker_spaniel,0.177413,True,Irish_setter,0.092725,True,829.0,3062.0,99/90,NaN,2016-03-27,01:29:02
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,http://twitter.com/download/iphone,Here's a brigade of puppers. All look very pre...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690...,80,80,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CdzETn4W4AAVU5N.jpg,1.0,soft-coated_wheaten_terrier,0.948617,True,Dandie_Dinmont,0.018664,True,cairn,0.015943,True,636.0,2529.0,80/80,NaN,2016-03-18,02:46:49
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,http://twitter.com/download/iphone,"From left to right:\nCletus, Jerome, Alejandro...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395...,45,50,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CdeUKpcWoAAJAWJ.jpg,1.0,borzoi,0.490783,True,wire-haired_fox_terrier,0.083513,True,English_setter,0.083184,True,721.0,2634.0,45/50,NaN,2016-03-14,02:04:08
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,http://twitter.com/download/iphone,Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CcVOJEcXEAM0FHL.jpg,1.0,Great_Pyrenees,0.667939,True,kuvasz,0.228764,True,golden_retriever,0.043885,True,1028.0,3201.0,60/50,NaN,2016-02-28,21:25:30
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59 +0000,http://twitter.com/download/iphone,Happy Wednesday here's a bucket of pups. 44/40...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031...,44,40,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/Ca3i7CzXIAMLhg8.jpg,1.0,Labrador_retriever,0.999885,True,golden_retriever,0.000098,True,pug,0.000008,True,1552.0,3748.0,44/40,NaN,2016-02-10,16:51:59
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,http://twitter.com/download/iphone,Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138.0,1274.0,4/20,NaN,2016-01-10,04:04:10
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,http://twitter.com/download/iphone,"Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CX7br3HWsAAQ9L1.jpg,2.0,golden_retriever,0.203249,True,Samoyed,0.067958,True,Great_Pyrenees,0.065327,True,239.0,1369.0,143/130,NaN,2016-01-05,04:11:44
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,http://twitter.com/download/iphone,Someone help the girl is being mugged. Several...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868...,121,110,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CX7Y_ByWwAEJdUy.jpg,1.0,soft-coated_wheaten_terrier,0.791182,True,cocker_spaniel,0.072444,True,teddy,0.071486,False,1563.0,4225.0,121/110,NaN,2016-01-05,04:00:18
1662,682962037429899265,NaN,NaN,2016-01-01 16:30:13 +0000,http://twitter.com/download/iphone,This is Darrel. He just robbed a 7/11 and is i...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CXpeVzQW8AApKYb.jpg,1.0,dingo,0.278600,False,Chihuahua,0.155207,True,loupe,0.153598,False,15043.0,26239.0,7/11,NaN,2016-01-01,16:30:13
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,http://twitter.com/download/iphone,"I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.0,1953.0,20/16,NaN,2016-01-01,06:22:03
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,http://twitter.com/download/iphone,IT'S PUPPERGEDDON. Total of 144/120 ...I think...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515...,144,120,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CWe7kw9W4AE8UJh.jpg,1.0,teddy,0.662908,False,crib,0.031891,False,chow,0.025438,True,1104.0,3323.0,144/120,NaN,2015-12-18,05:06:23
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41 +0000,http://twitter.com/download/iphone,Here we have an entire platoon of puppers. Tot...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675853064...,88,80,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CWEcxqWVEAAHyGH.jpg,1.0,Labrador_retriever,0.868367,True,golden_retriever,0.043305,True,vizsla,0.028207,True,1460.0,2927.0,88/80,NaN,2015-12-13,01:41:41
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,http://twitter.com/download/iphone,This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,NaN,NaN,NaN,NaN,NaN,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1.0,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True,71.0,152.0,1/2,NaN,2015-11-16,16:11:11